@using MyBudget.Web.Models.Account
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}


<div class="row">
    <div class="col-8 offset-2 col-md-3 offset-md-4" style="margin-top:2rem;">

        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="UserName" class="control-label">Имя пользователя</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="Password" class="control-label">Пароль</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-10 offset-md-1">
                        <input type="submit" value="Войти" class="btn btn-primary enter-btn" />
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger login-error" })
                
                <div class="" style="margin-bottom: 3rem;text-align:center;">
                    <p>@Html.ActionLink("Забыли пароль?", "ForgotPassword", "Account", null, new { @class = "register-lnk" })</p>
                    <p>@Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new { @class = "register-lnk" })</p>
                </div>
            }
        </section>
    </div>
</div>