
@model MyBudget.Web.Models.Transaction.MainPageViewModel
@using MyBudget.Core.Enums;
@{
    ViewData["Title"] = "Мои транзакции";
}

<input id="DefCurr" type="hidden" value="@Model.DefaultCurrency" />
<div class="row">
    <div class="col-md-7 offset-md-1">
        <div class="row" style="user-select:none;margin-bottom:10px;">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="container">
                    <div class="row">
                        <div style="margin: 0 auto;">
                            <span class="glyphicon glyphicon-menu-left cal-switch" onclick="setingDate(2)"></span>
                            <input type="button" id="sandbox-container" value="@Model.ListDate">
                            <span class="glyphicon glyphicon-menu-right cal-switch" onclick="setingDate(1)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:0.4rem;">
            <div class="col-4">
                <a class="btn btn-success new-trans" href="@Url.Action("Add", "Transaction", new { isSpending = false})"><span class="fas fa-plus"></span></a>
            </div>
            <div class="col-4 tbl-title">
                Платежи
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-danger new-trans" href="@Url.Action("Add", "Transaction", new { isSpending = true})"><span class="fas fa-minus"></span></a>
            </div>
        </div>
        <div class="row">
            <div id="tbl-w" class="col-12">
                <table id="transactions_table" class="table table-hover tbl-myList">
                    <col style="width: 25px">
                    <col style="width: auto">
                    <col style="width: 7rem">
                    <col style="width: 30px">
                    <tbody></tbody>
                </table>
            </div>
            <div style="height:22px;width:100%;margin-bottom: 5px;">
                <div id="btn-tbl-exp" class="del-btn text-center"><span class="glyph-btn glyphicon glyphicon-chevron-down glyph-btn"></span></div>
            </div>

        </div>
    </div>

    <div class="col-md-3">
        <div class="w-rest">
            <table class="tbl-rest" style="">
                <col style="width: 50%">
                <col style="width: 50%">
                <tr>
                    <td class="rest-type">Баланс</td>
                    <td class="rest-type">
                        Плановый
                        <span style="position: absolute;top: 0.25rem; margin-left: 0.5rem" class="details-btn" data-toggle="modal" data-target="#planedBudgInfo">?</span>
                    </td>
                </tr>
                <tr>
                    <td class="rest-real">
                        <span id="balten">0</span>
                        <span> @Model.DefaultCurrency</span>
                    </td>
                    <td class="rest-planed">
                        <span id="balten_pl">0</span>
                        <span> @Model.DefaultCurrency</span>
                    </td>
                </tr>
            </table>
        </div>

        @if (Model.GoalsList.Where(x => x.Type == (byte)GoalTypes.Goal).Count() != 0)
        {
            <div class="card text-white bg-info mb-3">
                <div class="card-header">
                    <h5>Цели</h5>
                </div>

                <div class="card-body">
                    @foreach (var goal in Model.GoalsList.Where(x => x.Type == (byte)GoalTypes.Goal))
                    {
                        string opacityClass = goal.IsActive == false ? "goalIsFinished" : "";

                        <div class="crd-itm @opacityClass">
                            <div class="crd-content">
                                <button data-goal-id="@goal.ID" type="button" class="btn btn-link glyphicon glyphicon-trash del-btn-crd js-del-goal" data-toggle="modal" data-target="#DelTemplateModal"></button>

                                <a class="crd-caption" href="@Url.Action("Edit", "Goal", new { id = goal.ID})">@goal.GoalName </a>
                                @if (goal.IsActive == true)
                                {
                                    <button type="button" class="btn btn-link js-pay-goal pay-goal" data-toggle="modal" data-target="#myModal" data-goal-id="@goal.ID" data-goal-Amount="@goal.TotalAmount" data-goal-CurrentAmount="@goal.CurrentAmount" data-catType="SYS_5"></button>
                                }
                                <div class="crd-bot">
                                    @{
                                        string cA;
                                        if (@goal.CurrentAmount > 0) { cA = @goal.CurrentAmount.ToString("### ### ### ###"); } else { cA = "0"; }
                                    }
                                    <span>@cA @Model.DefaultCurrency из @goal.TotalAmount.ToString("### ### ### ###") @Model.DefaultCurrency</span>
                                </div>
                            </div>
                            @{
                                string progress = (@goal.CurrentAmount * 100 / @goal.TotalAmount).ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US"));
                            }
                            <div class="progress progress-goal">
                                <div class="progress-bar progress-bar-goal" style="width:@progress%;"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.GoalsList.Where(x => x.Type == (byte)GoalTypes.Debt).Count() != 0)
        {
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">
                    <h5>Я должен</h5>
                </div>

                <div class="card-body">
                    @foreach (var debt in Model.GoalsList.Where(x => x.Type == (byte)GoalTypes.Debt))
                    {
                        string opacityClass = debt.IsActive == false ? "goalIsFinished" : "";
                        <div class="crd-itm @opacityClass">
                            <div class="crd-content">
                                <button data-goal-id="@debt.ID" type="button" class="btn btn-link glyphicon glyphicon-trash del-btn-crd js-del-goal" data-toggle="modal" data-target="#DelTemplateModal"></button>

                                <a class="crd-caption" href="@Url.Action("Edit", "Goal", new { id = debt.ID})">@debt.GoalName </a>
                                @if (debt.IsActive == true)
                                {
                                    <button type="button" class="btn btn-link js-pay-goal pay-goal" data-toggle="modal" data-target="#myModal" data-goal-id="@debt.ID" data-goal-Amount="@debt.TotalAmount" data-goal-CurrentAmount="@debt.CurrentAmount" data-catType="SYS_3"></button>
                                }

                                <div class="crd-bot">
                                    @{
                                        string cA;
                                        if (@debt.CurrentAmount > 0) { cA = @debt.CurrentAmount.ToString("### ### ### ###"); } else { cA = "0"; }
                                    }
                                    <span>@cA @Model.DefaultCurrency из @debt.TotalAmount.ToString("### ### ### ###") @Model.DefaultCurrency</span>
                                </div>
                            </div>
                            @{
                                string progress = (@debt.CurrentAmount * 100 / @debt.TotalAmount).ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US"));
                            }
                            <div class="progress progress-debt">
                                <div class="progress-bar progress-bar-debt" style="width:@progress%;"></div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        }

        @if (Model.GoalsList.Where(x => x.Type == (byte)GoalTypes.Loan).Count() != 0)
        {
            <div class="card text-white bg-credit mb-3">
                <div class="card-header">
                    <h5>Мне должны</h5>
                </div>

                <div class="card-body">
                    @foreach (var loan in Model.GoalsList.Where(x => x.Type == (byte)GoalTypes.Loan))
                    {
                        string opacityClass = loan.IsActive == false ? "goalIsFinished" : "";
                        <div class="crd-itm @opacityClass">
                            <div class="crd-content">
                                <button data-goal-id="@loan.ID" type="button" class="btn btn-link glyphicon glyphicon-trash del-btn-crd js-del-goal" data-toggle="modal" data-target="#DelTemplateModal"></button>
                                <a class="crd-caption" href="@Url.Action("Edit", "Goal", new { id = loan.ID})">@loan.GoalName </a>
                                @if (loan.IsActive == true)
                                {
                                    <button type="button" class="btn btn-link js-pay-goal pay-goal" data-toggle="modal" data-target="#myModal" data-goal-id="@loan.ID" data-goal-Amount="@loan.TotalAmount" data-goal-CurrentAmount="@loan.CurrentAmount" data-catType="SYS_1"></button>
                                }
                                <div class="crd-bot">
                                    @{
                                        string cA;
                                        if (@loan.CurrentAmount > 0) { cA = @loan.CurrentAmount.ToString("### ### ### ###"); } else { cA = "0"; }
                                    }
                                    <span>@cA @Model.DefaultCurrency из @loan.TotalAmount.ToString("### ### ### ###") @Model.DefaultCurrency</span>
                                </div>
                            </div>
                            @{
                                string progress = (@loan.CurrentAmount * 100 / @loan.TotalAmount).ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US"));
                            }
                            <div class="progress progress-credit">
                                <div class="progress-bar progress-bar-credit" style="width:@progress%;"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.GoalsList.Count > 0)
        {
            <div class="text-center">
                <span class="details-btn" data-toggle="modal" data-target="#goalsInfo">?</span>
            </div>
        }

        <hr />
        <div class="text-center" style="margin-bottom:1rem;">
            <button id="btnExportExcel" type="button" class="btn btn-link excel-btn" data-toggle="modal" data-target="#excelExport">
                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="10 10 80 80" x="0px" y="0px">
                    <title>Экспорт в Excel</title>
                    <path fill="#888888" d="M55.9,75.79V22.41H51.59c-11.07,2-22.11,3.85-33.22,5.77V78.67c10.93,1.93,22,3.86,33,5.86h4.5V75.79ZM39.62,64.71A85.15,85.15,0,0,1,36,55.65c-1,2.93-2.38,5.69-3.51,8.56-1.58,0-3.16-.09-4.74-.15,1.85-3.63,3.64-7.29,5.55-10.89-1.62-3.72-3.41-7.36-5.08-11.05L33,41.85c1.07,2.82,2.25,5.61,3.14,8.5,1-3.07,2.37-6,3.59-8.92q2.45-.17,4.91-.3Q41.76,47.05,38.83,53c2,4,4,8.05,6,12.09C43.09,64.95,41.36,64.84,39.62,64.71Z" />
                    <path fill="#888888" d="M57.72,29.33v3.83h7.65v5.65H57.72v3.1h7.65v5.65H57.72v3.1h7.65V56.3H57.72v3.1h7.65V65H57.72v3.28h7.65v5.47H57.72v3.83H84.14V29.33ZM78.31,73.79H67.19V68.32H78.31Zm0-8.75H67.19V59.39H78.31Zm0-8.75H67.19V50.65H78.31Zm0-8.75H67.19V41.9H78.31Zm0-8.75H67.19V33.16H78.31Z" />
                </svg>
            </button>
        </div>
    </div>
</div>


<!-- ************** -->
<!-- Модальные окна -->
<!-- ************** -->
<!-- Пополнить цель, долг -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close close-mdl" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></div>

            </div>
            <div class="modal-body">
                @using (Html.BeginForm("PutMoney", "Goals"))
                {
                    <div style="text-align:center">
                        <div class="form-group">
                            <label for="Amount" style="margin-right:1rem;">Сумма</label>
                            <div style="display:inline-block;">
                                <input type="tel" id="Amount" name="Amount" style="width:10rem;" class="form-control-lg amt-inp-mb jq-money" autocomplete="off" maxlength="13" />
                                <span class="cur-inp">@Model.DefaultCurrency</span>
                            </div>
                            <input type="hidden" id="putOnId" name="putOnId" />
                            <input type="hidden" id="catType" name="catType" />
                            <input type="hidden" id="putMoneyAmount" name="putMoneyAmount" />
                        </div>
                        <div class="form-group">
                            <span id="wromgAmountMessage" style="display:none" class="field-validation-error text-danger">Невозможно пополнить на сумму больше чем 5 000 Т</span>
                        </div>
                        <div class="modal-footer">
                            <button disabled type="submit" id="btnPutMoney" class="btn btn-success" style="margin:0 auto;padding:0.5rem 3rem;">Пополнить</button>
                        </div>
                    </div>
                }


            </div>

        </div>
    </div>
</div>

<!--Удаление цели, долга-->
<div class="modal fade" id="DelTemplateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close close-mdl" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Goals"))
                {
                    <div style="text-align:center">
                        <div class="form-group">
                            <label>Удалить выбранный элемент?</label>
                            <input type="hidden" id="mb-del-goallId" name="Id" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default" style="margin:0 auto;">Нет</button>
                            <button type="submit" class="btn btn-primary" style="margin:0 auto;">Да</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--Удаление транзакции-->
<div class="modal fade" id="DelTransactionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close close-mdl" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Transactions"))
                {
                    <div style="text-align:center">
                        <div class="form-group">
                            <label>Удалить выбранную транзакцию?</label>
                            <input type="hidden" id="mb-del-transId" name="Id" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default" style="margin:0 auto;">Нет</button>
                            <button type="submit" class="btn btn-primary" style="margin:0 auto;">Да</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Подсказка по плановому балансу -->
<div class="modal fade" id="planedBudgInfo" tabindex="-1" role="dialog" aria-labelledby="planedBudgInfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Планирование
                <div class="close close-mdl" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="modal-body info-body">
                <p>
                    <b style="color:#395971;">"Плановый"</b> баланс позволяет отследить остаток средств с учетом ещё не проведенных, но запланированных выплат.
                </p>
                <div style="width: 200px; margin: 0 auto 1rem">
                    <span style="margin-right: 1rem;color: #888888;" class="glyphicon glyphicon-ok"></span> проведенный платеж<br />
                    <span style="opacity: 0.4; margin-right:1rem;color: #888888;" class="glyphicon glyphicon-ok"></span> запланированный платеж
                </div>
                <p>
                    Чтобы перевести платеж в статус "запланированный" нажмите на галочку перед наименованием платежа.
                </p>

            </div>

        </div>
    </div>
</div>

<!-- Подсказка по целям -->
<div class="modal fade" id="goalsInfo" tabindex="-1" role="dialog" aria-labelledby="goalsInfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Цели, долги
                <div class="close close-mdl" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="modal-body info-body">
                <p>
                    В приложении <span style="color: #395971;font-weight: bold;">MyBudget</span> можно вести учет своих целей и долгов.
                </p>
                <p>Для того чтобы редактировать, нажмите на наименование.</p>
                <p>
                    Для того, чтобы отложить деньги на цель или долг нажмите кнопку "пополнить" <span class="pay-goal-g"></span> .
                    При этом появится соответствующий платеж в общем списке.
                </p>
            </div>

        </div>
    </div>
</div>

<!-- Параметры выгрузки в Excel -->
<div class="modal fade" id="excelExport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Экспорт в Excel
                <div class="close close-mdl" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ExportToExcel", "Transactions"))
                {
                    <div style="text-align:center">
                        <p style="font-size:0.8rem">Вы можете выгрузить список Ваших платежей, указав период.</p>
                        <div style="width:170px;margin:0 auto;">
                            <div class="form-group row" style="padding:0 1rem;">
                                <label for="ExcelSince" class="col-form-label" style="margin-right:1rem">С</label>
                                <input type="text" placeholder="дд.мм.гггг" id="ExcelSince" name="ExcelSince" class="form-control dt-inp-modal" value="" autocomplete="off">
                                <span class="bg-calendar"></span>
                            </div>
                            <div class="form-group row" style="padding:0 1rem;">
                                <label for="ExcelTill" class="col-form-label" style="margin-right:0.5rem;">по</label>
                                <input type="text" placeholder="дд.мм.гггг" id="ExcelTill" name="ExcelTill" class="form-control dt-inp-modal" value="" autocomplete="off">
                                <span class="bg-calendar"></span>
                            </div>
                        </div>
                        <p class="hlp-text">
                            * чтобы выгрузить все транзакции оставьте поля даты незаполненными
                        </p>
                        <div class="modal-footer">
                            <button type="submit" id="btnPutMoney" class="btn btn-success" style="margin:0 auto;padding:0.5rem 3rem;">Выгрузить</button>
                        </div>
                    </div>
                }


            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/mainPage.js"></script>
    <!--<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>-->
}


