@using Microsoft.AspNetCore.Identity;
@using MyBudget.Domain;
@using MyBudget.Core.Enums;
@inject SignInManager<User> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="@Url.Action("Pie","Graph")"><span style="margin-right:10px;" class="fas fa-signal"></span>Графики</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><span class="fas fa-calendar-check" style="margin-right:3px;"></span> Цели, долги <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="themes">
                    <a class="dropdown-item" href="@Url.Action("Add", "Goal", new { type = (byte)GoalTypes.Goal} )">Добавить цель</a>
                    <a class="dropdown-item" href="@Url.Action("Add", "Goal", new { type = (byte)GoalTypes.Debt} )">Взять в долг</a>
                    <a class="dropdown-item" href="@Url.Action("Add", "Goal", new { type = (byte)GoalTypes.Loan} )">Дать в долг</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><span class="fas fa-user" style="margin-right:3px;"></span> @User.Identity.Name <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="themes">
                    <a class="dropdown-item" href="@Url.Action("Manage", "Account")">Мой кабинет</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Index", "Category")">Категории</a>
                    <a class="dropdown-item" href="@Url.Action("TemplateList", "Template")">Шаблоны платежей</a>

                </div>
            </li>
            <li>
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                    <span class="fas fa-sign-out-alt" style="margin-right:3px;"></span> Выйти
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="registerLink" class="nav-link" href="@Url.Action("Register", "Account")"><i class="fa fa-user-plus"></i> Регистрация</a>
        </li>
    </ul>
}
